    <div id="all-initial-questions">
        <% behaviours.each do |key, bc| %>
          <div class="single-question single-<%= key %>">
            <%= render :partial => 'single_question', :locals => { :behaviour => bc[0], :category => key, :completed => bc[1] } %>
          </div>
        <% end %>      
      <!--div id="finish-link-wrapper"><%#= link_to "Finish", initial_questionnaire_completed_path , :class => 'not-seen-link hidden' %></div-->
    </div>

  <script type="text/javascript">
    $(function() {
      $('.not-seen-form').bind('ajax:complete', function(){
            $('.preloader').fadeOut();
      });      
      $('.single-question-cover:not(.completed)').addClass('shown').first().removeClass('shown');
      showFinish();
    });

    function showFinish() {
      if($('.single-question-cover').length == $('.single-question-cover.completed').length) {
      <% if current_user && !current_user.is_temporary -%>      
        $('#questionniare-completed-popup').dialog({modal: true,  closeOnEscape: false, width: "auto", dialogClass: "questionniare-completed-popup"});
        $('.questionniare-completed-popup .ui-dialog-titlebar').hide();
        //$('.not-seen-link').removeClass('hidden');
      <% else -%>
        document.location = '<%= initial_questionnaire_completed_path -%>';
      <% end -%>
      }
    }
  </script>



