<h1>LOADING CONTENT</h1>

<script type="text/javascript">


if(window.opener){
   close_popup();
}

function close_popup(){
  var parent_window = $(window.opener.document).find('#<%= @container %>')
  if (parent_window.length > 0) {

    $.ajax({
      url: '<%= @ajax_link %>',
      success: function(html){            
          window.close();
          parent_window.html(html);
        }

    });
  } else {
    window.close();
    window.opener.location = "<%= @redirect_link %>"

  }
}

</script>
