#bf-mobile > #invite-others { margin-top:15px; }
#bf-mobile > #invite-others h4 { margin-bottom:20px; }
#bf-mobile > #invite-others .email { width:100%; }
#bf-mobile > #invite-others input { width:100%; }
#bf-mobile > #invite-others .clone-relation { float:right }
#bf-mobile > #invite-others label { margin-bottom:3px; display: block; }

