<div id="accept-relations-wrapper">

  <% if @relations.blank? %>

        <p>There aren't any relations to approve.</p>
        <div class="relation-processing-done">
          <%= link_to "Continue", child_profile_children_path %>
        </div>

  <% else %>    
        <h1>You've been invited to join following BabyFolios:</h1>
        
        <%= render :partial => 'accept_relations', :locals => {:relations => @relations} %>

        <div class="hidden relation-processing-done">
          <%= link_to "Continue", child_profile_children_path %>
        </div>
      
  <% end %>

</div>





