<div class="container confirmation-welcome">
  <div id="title">Welcome</div>
  
  <% unless @relation.accepted == 1 %>

    <div class="user-form">

      <h2>Please fill up below form in order to confirm your account.</h2>

      <%= form_for @user, :url => confirmation_update_user_path, :method => :put do |f| %>
        <%= hidden_field_tag "token", @relation.token %>
      
        <%= render :partial => "/users/form", :object => f, :locals => { :user => @user } -%>

        <div class="submit">
          <%= f.submit "Submit" %>
        </div>

      <% end %>
    </div>

  <%  else %>
    <h2>You have already accepted invitation.</h2>
  <% end %>
  <div class="clear"></div>
  
</div>





