<h1>Thanks for signing up! We just sent a confirmation email to <%=  @user.email %></h1>

<h2>Please check your email and click the link to finish your sign-up.</h2>

<p>If you don't receive your confirmation email within a few minutes, <%= link_to 'click here to re-send it', confirmation_resend_url %></p>