<div id="milestone_header">
  <h1><%= @child.first_name -%>'s <%= Question::CATS[@question.category] %> Development</h1>
  <p>Here’s the important <%= Question::CATS[@question.category].downcase %> Learning Window to focus on now.</p>
  <h2>"<%= @milestone.title %>" Touchstone</h2>
</div>