<% content_for :middle_bar do %>
  <% unless params[:add_child] %>
    <div class="left-column"></div>
    <div class="right-column">
      <div class="step-arrow" id="watching-baby"><span>Describe Your Baby</span></div>
      <div class="step-arrow active" id="add-baby"><span>Add/Join a BabyFolio</span></div>
      <div class="step-arrow active done" id="create-acc"><span>Create Account</span></div>
    </div>
    <div class="clear"></div>
  <% end %>

<% end %>

<div id="registration-second">
  <div class="left-column">
    <div id="left-column-tooltip">
      <img src="/images/dream_catcher.png" alt=""/>
      <h4>Joining BabyFolios</h4>
      <p class="reg-second-ttip">Want to join a BabyFolio that already exists?  Ask the parents to invite you with the email address you just submitted (<%= current_user.email %>)</p>
      <div class="clear"></div>
    </div>
  </div>

  <div class="right-column">
    <%= render :partial => 'form', :locals => {:child => @child, :edit => false} %>
  </div>

  <div class="clear"></div>
</div>




