<% content_for :middle_bar do %>
  <span>Here is a list of recommended play activities for <%= current_child.first_name %> based on his current development.</span>
  
<% end %>

<div id="play-wrapper">
  <div class="left-column">
    <p>Click on the title for a detailed description and associated behavioral milestones.</p>

    <div id="play-actions-wrapper">      
      <%#= activity_pagination(@page, @per_page, @total_activities, @offset_start, @offset_end) %>
        <ul id="activities-wrapper">          
          <% @activities.each do |a| %>
            <%= render :partial => 'play_single', :locals => { :a => a, :time => 'current' } %>
          <% end %>

        </ul>
      <div class="clear"></div>
      <%#= activity_pagination(@page, @per_page, @total_activities, @offset_start, @offset_end) %>
    </div>
    
  </div>

  

</div>