<% content_for :middle_bar do %>
  <span><%= format_text(@page.cf("title")) -%></span>
<% end %>
  <div id="left-column-additional-info"><%= format_text(@page.cf("left_sidebar_text")) -%></div>
  <div class="left-column">       
        <ul id="activities-wrapper">          
          <% @activities.each do |a| %>
            <%= render :partial => 'play_single', :locals => { :a => a, :time => 'current' } %>
          <% end %>

        </ul>
      <div class="clear"></div>
  </div>
  <div class="right-column right-column-play"></div>
    
  <div class="clear"></div>
  
  <script type="text/javascript">
    $(function() {      
      showPlayPopup($('.selected .activity-title-link'));

      $('.previous-activity-link, .next-activity-link').live("ajax:before", function() {
        $(this).parents('.single-activity').addClass('show-preloader');
      });
      $('.previous-activity-link, .next-activity-link').live("ajax:complete", function() {
        $(this).parents('.single-activity').removeClass('show-preloader');
      });

      $('.previous-activity-link, .next-activity-link').live("ajax:success", function(xhr,data) {
        $('.single-activity.selected').removeClass('selected');
        $(this).parents('.single-activity').replaceWith(data);
        showPlayPopup($(data).find('.activity-title-link'));
      });

      $('.activity-title-link').live('click', function() {
          $('.single-activity.selected').removeClass('selected');
          showPlayPopup($(this));
          return false;
      });

      $('.show-dialog').live('click', function() {
        $($(this).attr('href')).dialog({modal: true});

        return false;
      });

      $('.te-form').live("ajax:success", function(xhr,data) {
          $(this).parents('.play-dialog').html(data);          
      });

    });

    function showPlayPopup(title) {        
        $(title).parents('.single-activity').addClass('selected');

        var sa = $(title).parents('.single-activity').find('.play-popup');
        $('.right-column').html(sa.clone().show());

        $('.right-column').find('.pointing-arrow').css({top : $('.single-activity.selected').position().top});
        $('.right-column .popup-wrapper').css({minHeight: $('#activities-wrapper').height() });
    }

    /*  LIKES - DISLIKES   */
            
    function like(btn) {
      postLike(1, btn);
    }
    function dislike(btn) {
      postLike(0, btn);
    }

    function postLike(like, btn) {
      a_id = $(btn).attr('data_aid');

      $.post('<%= activity_like_children_path %>', {aid : a_id, likes: like}, function(data) {
        $(btn).siblings('.likes-btn, .dislikes-btn').removeClass('active');
        $(btn).addClass('active')
      });
    }

  </script>

