<div id="reflect-column-wrapper">  
    <%= render :partial => 'reflect_bars', :locals => { :answers => @str_answers, :type => 'str' } %>
    <%= render :partial => 'reflect_bars', :locals => { :answers => @avg_answers, :type => 'avg' } %>
    <%= render :partial => 'reflect_bars', :locals => { :answers => @weak_answers, :type => 'weak' } %>
</div>