<% content_for :middle_bar do %>
  <span>Here are upcoming developmental behaviors <%= current_child.first_name %> will exhibit.</span>

<% end %>

  <h4 class="reflect-header">Have you seen <%= current_child.first_name -%> do this yet?</h4>
  <p id="left-column-additional-info">if yes, click on the checkmark. Or click on a title for more information. You can also uncheck a behavior.</p>
  <div class="left-column">              
        <ul id="activities-wrapper">
          <% @behaviours.each do |a| %>
            <%= render :partial => 'watch_single', :locals => { :item => a, :time => a[:time] } %>
          <% end %>
        </ul>
    
        <div class="clear"></div>
  </div>
  <div class="right-column right-column-watch"></div>

  <div class="clear"></div>

  <script type="text/javascript">

    $(function() {

      showPlayPopup($('.selected .activity-title-link'));

      $('.previous-activity-link, .next-activity-link').live("ajax:before", function() {
        $(this).parents('.single-activity').addClass('show-preloader');
      });
      $('.previous-activity-link, .next-activity-link').live("ajax:complete", function() {
        $(this).parents('.single-activity').removeClass('show-preloader');
      });

      $('.previous-activity-link, .next-activity-link').live("ajax:success", function(xhr,data) {
        $('.single-activity.selected').removeClass('selected');
        $(this).parents('.single-activity').replaceWith(data);
        showPlayPopup($(data).find('.activity-title-link'));
      });

      $('.activity-title-link').live('click', function() {
          $('.single-activity.selected').removeClass('selected');
          showPlayPopup($(this));
          return false;
      });

      $('.show-dialog').live('click', function() {
        $($(this).attr('href')).dialog({modal: true});
        if ($(this).hasClass("timeline-btn")){
          $("input[name='submit_type']").val("timeline");
        } else {
          $("input[name='submit_type']").val("seen_tick");
        }
        return false;
      });

      $('.te-form').live("ajax:success", function(xhr,data) {
          if (data == "success") {
            var bid = $(this).parents('.ui-dialog-content').attr("id");
            $(this).parents('.ui-dialog-content').dialog("close");
            $(".seen-tick-btn[href='#"+bid+"']").parents('.single-activity').find('.next-activity-link').click();
          } else {
            $(this).parents('.play-dialog').html(data);
          }
      });

      $('.seen-tick-btn').live('ajax:success',function() {

        $('.single-activity').removeClass('selected');
        $(this).parents('.single-activity').removeClass('past selected checked').addClass('current');
        $(this).parents('.single-activity').find('.play-popup').removeClass('past checked').addClass('current');

        showPlayPopup($(this).parents('.single-activity').find('.activity-title-link'));

        $(this).attr('href',$(this).attr('data-dialog'));        
        $(this).addClass('show-dialog');
        
        $(this).removeAttr('data-remote');
        $(this).removeAttr('data-method');
        $(this).removeAttr('rel');
        $(this).removeAttr('data-dialog');

      });

    });

    function showPlayPopup(title) {

        $(title).parents('.single-activity').addClass('selected');

        var sa = $(title).parents('.single-activity').find('.play-popup');
        $('.right-column').html(sa.clone().show());

        $('.right-column').find('.pointing-arrow').css({top : $('.single-activity.selected').position().top});
        $('.right-column .popup-wrapper').css({minHeight: $('#activities-wrapper').height() });

    }

  </script>
