<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>This email is to confirm that the account for <%= @data[:user_email] %> has been de-activated.</h3>

    <br/>
    <br/>
    Thanks!
    <div>Babyfolio</div>
  </body>
</html>
