<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    You recently registered at Babyfolio using this email address. To confirm that this is your email address, click the link below:
    <%=  @url %>
    <div>
      <%= @user.email -%>
    </div>
    Thanks! Babyfolio
  </body>
</html>
