<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    You recently registered at Babyfolio using this email address. To confirm that this is your email address, <a href="<%= @url %>">click here</a> or copy/paste below link:<br/><br/>
    <div>
      <%= @url %>
    </div>
    <br/>
    <br/>
    <br/>
    Thanks! Babyfolio
  </body>
</html>
