<div>
  <%= "#{@user.first_name} #{@user.last_name} just posted a new moment about #{@moment.child.first_name}'s development that describes a #LWtitle# behavior." %>
</div>
<div>
  Here it is:
</div>
<div>
  <%= @moment.description %>
</div>
<div>
  <%= link_to "Comment on #{@user.first_name}' post", "#" %>
</div>
<div>
  Please tell us what you've seen about this.
</div>
<div>
  <%= link_to "Create a new moment now", "#" -%>
</div>