<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= @exception.message -%><Br /><br />
    <%=raw @exception.backtrace.join('<br />') -%>
  </body>
</html>





