<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hi! I am using Babyfolio and would like you to join the family as <%= @relation %>.

    In order to accept the invitaion <%= link_to "click here", @url %> or copy and paste following url: <%=  @url %>

    Thanks! 
  </body>
</html>