<div class="container forgot-password">
  <h3 id="title">Forgor your password?</h3>
  <div class="user-form">
    <h3>Please enter your email address, and we'll send you instructions on resetting your password</h3>
    <%= form_tag create_forgot_password_path do -%>
    <br/>
      <div class="row">               
        <div class="row" style="color: red"><%= @error %></div>
        <span>Email</span>
        <span class="field">
          <%= text_field_tag :email -%>
        </span>
      </div>
      <div class="submit">
        <%= submit_tag "Submit", :class => "btn" -%>
      </div>

    <% end %>
  </div>
  <div class="clear"></div>
</div>

