<div class="container forgot-password">
  <div id="title">Forgor your password?</div>
  <div class="user-form">
    <h2>Please enter your email address, and we'll send you instructions on resetting your password</h2>
    <%= form_tag create_forgot_password_path do -%>
      <div class="row">
        <span class="label">
          <%= label_tag :email, 'Email' -%><br />
        </span>
        <span class="field">
          <%= text_field_tag :email -%>
        </span>
      </div>
      <div class="submit">
        <%= submit_tag "Submit" -%>
      </div>

    <% end %>
  </div>
  <div class="clear"></div>
</div>

