<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h3>Thank You!</h3>
<br/>
<h3>Please check your email inbox - we've just sent you an email with further password reset instructions.</h3>

