<h4 id="success-message">Invitations have been sent.</h4>

<div class="invite-more-btn-wrapper"><%= link_to "Invite more family and friends", show_invitations_form_path, :remote => true, :disable_with => "Please wait...", :class => "btn invite-more-btn" %></div>


