 <!---------------------->
  <!-- PERMISSIONS INFO -->
  <!---------------------->
    <table id="settings-permissions-info" class="<%= 'hidden' unless(@current_tab == 2 || @current_tab == 3) %>" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th colspan="3" id="permissions-top-header">Permissions</th>
        </tr>
        <tr id="permissions-headers">
          <th>Powers</th>
          <th>Members</th>
          <th>Admins</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Post to timeline</td>
          <td class="checkmark"></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Check off Watch behaviors</td>
          <td class="checkmark"></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Edit posts from Timeline</td>
          <td class="checkmark"></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Approve/Reject checked off Watch behaviours</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Delete posts from Timeline</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Invite people to BabyFolio</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Remove people</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Edit Babies' information</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Grant admin powers</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Remove admin powers</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Remove babies</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td>Add babies</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
      </tbody>
    </table>