<div class="container settings youtube">
  <div id="left">
    <div class="title">YouTube connection</div>

  </div>
  <div class="user-form">
    <h2>First you should connect with your YouTube account</h2>
    <%= link_to 'Connect account', '/auth/youtube?display=popup', :onclick => "window.open(this.href, 'youtube_login', 'height=300,width=700');return false;" -%>

  </div>
  <div class="clear"></div>
</div>
