<br />
<br />

<p>Thanks for your feedback and interest in BabyFolio. Your account has been de-activated. We appreciate your consideration and hope we can serve you in the future.</p>
<div><%= link_to "OK", root_path, :class => "btn deactivate-complete-btn"%></div>
<div class="clear"></div>
<br />
<br />