<div class="container">
  <div id="title">Edit Account</div>
  <div class="user-form">

    <%= form_for @user, :url => account_path do |f| %>
    <%= render :partial => "form", :object => f, :locals => { :user => @user } %>
    <%= f.submit "Update" %>
    <% end %>

    <br /><%= link_to "My Profile", account_path %>
  </div>
  <div class="clear"></div>
</div>
