 
  <div class="user-form">

    <%= form_for @user, :url => account_path do |f| %>
      <%= render :partial => "form", :object => f, :locals => { :user => @user, :edit => @edit} %>
    
      <div class="submit">
        <%= f.submit "Update" %>
      </div>
    
    <% end %>
    

  </div>
  <div class="clear"></div>
