<div class="container">  

  <div id="title">Register</div>
  <div class="user-form">
    <%= form_for @user, :url => account_path(@user), :method => :post do |f| -%>
      <div class="header">
        <h2>Create a SmarterFolio account</h2>
        <div>or <%= link_to "log in here!", login_path -%></div>
      </div>      
      
      <div id="login_right">
        <%= render :partial => "form", :object => f, :locals => { :user => @user } -%>          

        <div class="submit">
          <%= f.submit "Continue" %>
        </div>
      </div>
      <div class="clear"></div>
    <% end %>
    <div>
      <a href="mail_to:bogus@email.com">
        <span>Have a question?  Send us an email and Annie, our Community Manager, will be happy to help!</span>
        <img src="" alt="Annie Image"/>
      </a>
    </div>
  </div>
  <div class="clear"></div>


</div>

