<h1>Register</h1>
<div class="user-form">
  <%= form_for @user do |f| -%>
    <%= render :partial => "form", :object => f, :locals => { :user => @user } -%>
    <%= f.submit "Register" %>
  <% end %>
</div>
