<div id="steps">
  <table>
    <tr>
      <% Family::STEPS.each_with_index do |step, idx| %>
        <td class="title <%= current_step == idx ? 'active' : '' %>">Step <%= idx+1 -%>:<br/><%= step %></td>
	<% if idx < Family::STEPS.length - 1 %>
         <td class="arrows" ></td>      
	<% end %>
      <% end %>
    </tr>
  </table>
</div>
