<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="home">
  <div id="top">
    <div id="left">
      <img src="/images/home_left.jpg" alt="left_logo" />
    </div>
    <div id="center">
      <img src="/images/home_logo.png" alt="home_logo" />
    </div>
    <div id="right">
      <img src="/images/home_right.jpg" alt="right_logo" />
    </div>
  </div>
  <div id="login_box">
      <ul>
        <li><a href="#">About Us</a><span>|</span></li>
        <li><a href="#">Take a Tour</a><span>|</span></li>
        <li><a href="#">Sign Up</a><span>|</span></li>
        <li><a href="#">Sign In</a></li>
      </ul>
   </div>
  
  <div id="slider">
    <div id="welcome_container">
      <div class="container_left">
        <h1>Welcome to Babyfolio</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
          aliquip ex ea commodo consequat. Duis aute irure dolor in 
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
          pariatur.
        </p>
        <a href="#"><img src="" alt="sign_up" /></a>
      </div>
      <div class="container_right">
        <div id="profile_logo"></div>
        <div id="profile_form">
          <p></p>
          <p></p>
          <p></p>
          <ul>
            <li><input type="" /></li>
            <li><input type="" /></li>
            <li><input type="" /></li>
          </ul>
          <a href="#"><img src="" alt="start_profile" /></a>
        </div>
      </div>
    </div>
  </div>

  <div id="wrraper">
    <div id="container_home">
      <div id="container_start_multi">
        <div class="start_multi">
          wrraper
          <a href="#"><img src="/images/capture_story.png" alt="capture_story" /></a>
        </div>
        <div id="social_panel">
          <p>Use the Moments you have already uploaded to:</p>
          <img src="/images/home_fb.png" alt="fb" />
          <img src="/images/home_yt.png" alt="yt" />
        </div>
      </div>
      <h2>Choose a Chapter & telling your baby's story</h2>
      <div id="moment">
        <ul>
          <li id="moment">
            <div>
              <h1>getting</h1>
              <p></p>
            </div>
            <a href="">Add Moment</a>
          </li>
          <li id="moment">
            <div>
              <h1>places</h1>
              <p></p>
            </div>
            <a href="">Add Moment</a>
          </li>
          <li id="moment">
            <div>
              <h1>people</h1>
              <p></p>
            </div>
            <a href="">Add Moment</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <div id="footer_left">
      <div id="copyright">
        Copyright &copy; 2011. Baby folio. All rights reserved.
      </div>
      <div id="footer_link">
        <ul>
          <li><a href="">Home<span>|</span></a></li>
          <li><a href="">Blog<span>|</span></a></li>
          <li><a href="">About Us<span>|</span></a></li>
          <li><a href="">Contact Us<span>|</span></a></li>
          <li><a href="">Privacy<span>|</span></a></li>
          <li><a href="">Site Map<span>|</span></a></li>
          <li><a href="">Resources<span>|</span></a></li>
          <li><a href="">Help</a></li>
        </ul>
      </div>
    </div>
    <div id="footer_right">
      <div id="social_links">
        <span>Follow us on</span>
        <ul>
          <li><a href="#"><img src="/images/twitter.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/facebook.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/sweetbook.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/rss.png" alt="" /></a></li>
        </ul>
      </div>
    </div>
    <div id="clear"></div>
  </div>
</div>