<% content_for :middle_bar do %>
  <div id="middle-bar-inner-wrapper" class="arvo">
      <strong class="arvo-bold">BabyFolio</strong> helps you identify your child’s important developments and provide the right play at the right time.
      <a href="<%= signup_path %>" class="btn btn-big" id="get-started-btn">Get Started</a>
  </div>
<% end %>

<div id="home">

  <div class="left-column">
    <img src="images/home_img.jpg" alt="Home image" />    
    <p id="featured-in-text">Just like snowflakes, children are unique. <span class="bold">Baby-Folio</span> helps parents discover what is special about their baby and where their baby is developmentally. It then provides tips, activities and resources tailored to who their baby is and what their baby is working on. </p>
    <div><%= link_to "Find out more", about_path , :class => "btn" %></div>
  </div>

  <div class="right-column">
    <div id="circle-display">
      <div id="watch-display">
        <h1 class="arvo">Watch</h1>
        <p class="arvo">Identify your baby's important developments.</p>
      </div>
      <div id="reflect-display">
        <h1 class="arvo">Reflect</h1>
        <p class="arvo">Understand your baby’s strengths and weaknesses and how you can build on them.</p>
      </div>
      <div id="play-display">
        <h1 class="arvo">Play</h1>
        <p class="arvo">Get tips and activity ideas to best support the important developments.</p>
      </div>
      <div id="plus-display">
        <h1 class="arvo">*Plus you can share your Babyfolio!</h1>
        <p class="arvo">Let friends and family participate and contribute as your baby learns and develops.</p>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

