<% content_for :middle_bar do %>
  <div id="middle-bar-inner-wrapper">
      <strong>BabyFolio</strong> is the best place for you to track and support your baby’s development.
      <a href="<%= signup_path %>" class="btn" id="get-started-btn">Get Started</a>
  </div>
<% end %>

<div id="home">

  <div class="left-column">
    <img src="images/home_img.jpg" alt="Home image" />
    <p id="featured-in-text">Featured in</p>
    <img src="images/featured_logos.png"  alt="Featured logos"/>
    
  </div>

  <div class="right-column">
    <div id="circle-display">
      <div id="watch-display">
        <h1>Watch</h1>
        <p>Identify your baby's important developments.</p>
      </div>
      <div id="reflect-display">
        <h1>Reflect</h1>
        <p>Understand your baby’s strengths and weaknesses and how you can build on them.</p>
      </div>
      <div id="play-display">
        <h1>Play</h1>
        <p>Get tips and activity ideas to best support important developments during the optimal "Learning Window."</p>
      </div>
      <div id="plus-display">
        <h1>*Plus you can share your Babyfolio!</h1>
        <p>Let friends and family participate and contribute as your baby learns and develops.</p>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</div>

