<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div id="top">
  <div id="login_box">
    <ul>
      <li class="avatar"><img src="/images/img_login.jpg" alt="img_login" /></li>
      <li>Hi, <span class="profile_name">Don Burton</span> </li>
      <li><a href="#">Log Out <span class="border">|</span></a></li>
      <li><a href="#">Setting <span class="border">|</span></a></li>
      <li><a href="#">Tour</a></li>
    </ul>
  </div>
</div> 
<div id="header">
  <div id="logo">
    <a href="#"><img src="/images/logo.png" alt="logo" /></a>
  </div>
</div>
  
<div id="wrraper" class="storybook_container">
  <div class="container">
    <div id="container_left">
      <div id="container_header">
        <div id="title">Whitney's Unique Story</div>
        <div id="drop_list">
          <select name="list" id="child_profile">
            <option value="Whitney">Whitney's Profile</option>
          </select>
          <span id="setting_kids">
            <a href="#">Add</a>
            Or
            <a href="#">Select Another Child</a>
          </span>
        </div>
        <div id="clear"></div>
      </div>
      
      <div id="book"></div>
      <div id="storybook_moments">
        <h1>Build upon #first#'s storybook</h1>
        <div class="shadow"></div>
        <a href="#"><img src="/images/add_moment.png" alt="" /></a>
        <div class="text">text text text</div>
        
        <div id="moments_list">
          <div class="moment">
            <h2 class="title">Title: First five words</h2>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
               eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco 
               laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
      <div id="footer">
        <div id="footer_left">
          <div id="copyright">
            Copyright &copy; 2011. Baby folio. All rights reserved.
          </div>
          <div id="footer_link">
            <ul>
              <li><a href="">Home<span>|</span></a></li>
              <li><a href="">Blog<span>|</span></a></li>
              <li><a href="">About Us<span>|</span></a></li>
              <li><a href="">Contact Us<span>|</span></a></li>
              <li><a href="">Privacy<span>|</span></a></li>
              <li><a href="">Site Map<span>|</span></a></li>
              <li><a href="">Resources<span>|</span></a></li>
              <li><a href="">Help<span>|</span></a></li>
            </ul>
          </div>
        </div>
        <div id="footer_right">
          <div id="social_links">
            <ul>
              <li><a href="#"><img src="twitter" alt="" /></a></li>
              <li><a href="#"><img src="fb" alt="" /></a></li>
              <li><a href="#"><img src="sn" alt="" /></a></li>
              <li><a href="#"><img src="rss" alt="" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div id="container_right">
      <div class="logo"></div>
      <div id="most_post">
        <div class="single_post">ssss</div>
      </div>
    </div>
    
    <div id="clear"></div>
    
  </div>
</div>
