<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div id="home">
  <div id="top">
    <div id="left">
      <img src="/images/home_left.jpg" alt="left_logo" />
    </div>
    <div id="center">
      <img src="/images/home_logo.png" alt="home_logo" />
    </div>
    <div id="right">
      <img src="/images/home_right.jpg" alt="right_logo" />
    </div>
  </div>
  <div id="login_box">
      <ul>
        <li><a href="#">About Us</a><span>|</span></li>
        <li><a href="#">Take a Tour</a><span>|</span></li>
        <li><a href="<%= link_to new_user_path %>">Sign Up</a><span>|</span></li>
        <li><a href="<%= link_to login_path %>">Sign In</a></li>
      </ul>
   </div>
  
  <div id="slider">
    <div id="welcome_container">
      <div class="container_left">
        <h1>Welcome to Babyfolio</h1>
        <p>
          Create & share the story of your children's unique development.
          Capture those precious moments and turn your library into a tool to
          discover & develop your child's special story. <span>It's Free</span>
        </p>
        <a href="#"><img src="/images/signup_btn.png" alt="sign_up" /></a>
      </div>
      <div class="container_right">
        <div id="profile_logo"></div>
        <div id="profile_form">
          <p>
            Find out about your child's Striking 
            development in language,</br> 
            logic and more!
          </p>
          <p>
            Give us 5 minutes and we'll give you </br> insights into your child's
            unique story.</br>
            <a href="#">Find Out More</a>
          </p>
          <h3>Enter your Child's Birth Date:</h3>
          <ul>
            <li><input type="text" placeholder="Date"/></li>
            <li><input type="text" placeholder="Month"/></li>
            <li><input type="text" placeholder="Year"/></li>
            <li><input type="checkbox" name="male"/><label for="male">Male</label></li>
            <li><input type="checkbox" name="gemale"/><label for="female">Female</label></li>
          </ul>
          <a href="#"><img src="/images/start_btn.png" alt="start_profile" /></a>
        </div>
      </div>
    </div>
  </div>

  <div id="wrraper">
    <div id="container_home">
      <div id="container_start_multi">
        <div class="start_multi">
          <h1>Start your multimedia BabyFolio.</h1>
          <h3>Your First Question:</h3>
          <p>What is your baby's avorite plaything now & how does she or he play with it? </p>
          <a href="#"><img src="/images/capture_story.png" alt="capture_story" /></a>
        </div>
        <div id="social_panel">
          <p>Use the Moments you have </br>already uploaded to:</p>
          <img src="/images/home_fb.png" alt="fb" />
          <img src="/images/home_yt.png" alt="yt" />
        </div>
        
      </div>
      <div class="shadow"><img src="/images/home_shadow.png" alt="" /></div>
      <h2>Choose a Chapter & Start telling your baby's story :</h2>
      <div id="moments">
        <ul>
          <li id="moment">
            <div class="icon1 icon">
              <h1>Getting to Know You</h1>
              <p>What recent developments have you noticed?</p>
            </div>
            <a href="">Add Moment</a>
          </li>
          <li id="moment">
            <div class="icon2 icon">
              <h1>places</h1>
              <p></p>
            </div>
            <a href="">Add Moment</a>
          </li>
          <li id="moment">
            <div class="icon3 icon">
              <h1>people</h1>
              <p></p>
            </div>
            <a href="">Add Moment</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="footer_container">
    <div id="footer_left">
      <div id="copyright">
        Copyright &copy; 2011. Baby folio. All rights reserved.
      </div>
      <div id="footer_link">
        <ul>
          <li><a href="">Home<span>|</span></a></li>
          <li><a href="">Blog<span>|</span></a></li>
          <li><a href="">About Us<span>|</span></a></li>
          <li><a href="">Contact Us<span>|</span></a></li>
          <li><a href="">Privacy<span>|</span></a></li>
          <li><a href="">Site Map<span>|</span></a></li>
          <li><a href="">Resources<span>|</span></a></li>
          <li><a href="">Help</a></li>
        </ul>
      </div>
    </div>
    <div id="footer_right">
      <div id="social_links">
        <span>Follow us on</span>
        <ul>
          <li><a href="#"><img src="/images/twitter.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/facebook.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/sweetbook.png" alt="" /></a></li>
          <li><a href="#"><img src="/images/rss.png" alt="" /></a></li>
        </ul>
      </div>
    </div>
    <div id="clear"></div>
  </div>
 </div>
</div>