<?xml version="1.0" encoding="utf-8"?>
<div class="container settings">
  <div id="left">
    <div class="title">TESTING SOCIALS PARTIAL</div>
  </div>
  <div class="user-form">

  </div>



  <div class="clear"></div>
</div>
