<div id="facebook-ajax-container">
   <%= link_to "Get facebook images", "/auth/facebook", :onclick => "window.open(this.href,'facebook_login','height=300,width=700');return false;" %>
   <%= javascript_include_tag "/js/facebook_photos.js"%>
</div>
