<div class="imported-message">Images imported.</div>
<div class="preloader"></div>
<div class="uploaded-images-container">
  <div id="file-registration-uploader"></div>    
  <%#= form_tag registration_add_photos_import_media_url, :remote => true do -%>
    <%= hidden_field_tag "child_id", @selected_child.id %>
    
    
    <div class="uploaded-images right-photos-container">

      <span id="uploaded-images-ajax-grid"  class="uploaded-images-grid">

        <div class="photos"></div>

      </span>
  
    </div>
    <div class="visibility">
      <span>Privacy level: <%= select_tag :visiblity, options_for_select(Moment::VISIBILITY) -%></span>
    </div>

    
    <!--div class="buttons-container">
      <span><%#= submit_tag "Add uploaded images", :class => "registration-submit-button" -%></span>
    </div-->
    
  <%# end %>
  
</div>

<script type="text/javascript">
  $(function() {
    var global_count = -1;
    var child_id = $('#child_id').val();
    var visibility = $('#visiblity').val();    
    var uploader = new qq.FileUploader({
        element: document.getElementById('file-registration-uploader'),
        action: '<%= registration_add_photos_create_photo_path -%>',
        params: {child_id: child_id, visibility: visibility},
        onComplete: function(id, fileName, responseJSON){

          $('.qq-upload-file').each(function(){if ( $(this).text() == fileName) {$(this).parents('li').eq(0).fadeOut(2000);} });

          $.ajax({
            type: 'POST',
            data: {media_id:responseJSON.media_id, moment_id:responseJSON.moment_id},
            url: '<%= registration_add_photos_photo_path -%>',
            success: function(data){
            
              var data_value = $(data);
              data_value.css({opacity:0});
              $('#uploaded-images-ajax-grid .photos').append(data_value);
              data_value.animate({opacity:1});
              
            }
          })
          
        },
        
        onCancel: function(id,fileName){

          global_count = global_count + 1;
        }

    });

  });
</script>
