<html>
  <head>
    <title>Initial Questionaire</title>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div id="content-wrapper">
      <div id="bf-mobile">

        <div id="registration-third">
          <div class="right-column">
            <div id="instruction-column">
              <div id="tip-number1"></div>
              <p>Starting with the first intelligence, Language, if you've seen the behavior listed, click "I have seen this!"  If you haven't seen the behavior, click "I haven't seen this yet!"</p>
              <div id="tip-number2"></div>
              <p>If you clicked "I have seen this!" in the first step, keep going until you haven't seen a behavior and then click "I haven't see this yet!"  If you clicked "I haven't seen this yet!" keep going until you've seen a behavior and click "I have seen this!"  Follow the same process for the next intelligence.  Once you've completed the last intelligence, you'll be asked to either continue or add another baby.</p>      
            </div>
            <div id="questionnaire-column">
              <%= render :partial => 'questions_listing', :locals => {:questions => @questions, :step => @step, :categories_answered => Array.new} %>
            </div>
            <div class="clear"></div>

          </div>

        </div>

        <script type="text/javascript">
          $(function() {
              $('.not-seen-form').live('ajax:success', function(xhr, data){
                if(!(data.indexOf('window.location') > -1)) {
                $('.not-seen-form').parents('#all-initial-questions').replaceWith(data);
                }
                }).live('ajax:before', function(){
                  $('.preloader').fadeIn();
                  });
              });
            </script>
          </div>
        </div>
      </body>
    </html>
