<p class="row"> <%= select_tag "who", options_for_select(@relatives.map{|u| [u.get_user_name.capitalize, u.id]}) %> </p>
<p class="row">has question about <%= current_child.first_name.capitalize %>.</p>
