<script type="text/javascript">
  $(function() {

    var uploader = new qq.FileUploader({
        element: document.getElementById('file-uploader'),
        action: '<%= upload_image_path %>',

        onComplete: function(id, fileName, responseJSON){

          if(id == ($('#file-uploader .qq-upload-list li').length-1)) {

            $.ajax({
              url: '<%= upload_image_index_url -%>',
              <%#*context: $('.uploaded-images-container'),%>
              success: function(data){
                $('.uploaded-images-container').html(data)
              }
              
            })
            
          }

        }
    });

  });
</script>

<div id="file-uploader"></div>

<div class="uploaded-images-container">

  <% images = Media.where(:user_id => current_user.id, :type => 'MediaImage') -%>
  
  <%= render :partial => 'uploaded_images/uploaded_images', :locals => { :images => images } %>
  
</div>