<div class="photos">
    <div class="header">
        <h2>Photos</h2>
    </div>

    <% if images.blank? -%>
      <div>You don't have any uploaded photos</div>
    <% end %>
      
    <% images.each do |photo| %>
      <span class="image" id="<%=  photo.id %>" thumb_url="<%= photo.image(:moment_thumb) -%>" large_url="<%= photo.image(:large) -%>" >
        <div class="thumb" style="background-image: url('<%= photo.image(:moment_thumb) -%>')">
        </div>
      </span>

    <% end %>

  

</div>


