<span class="image" id="<%=  @one_image.id %>" thumb_url="<%= @one_image.image(:moment_thumb) -%>" >
  <div class="thumb" style="background-image: url('<%= @one_image.image(:moment_thumb) -%>')">
  </div>
</span>