body{font-family:Arial;font-size:14px;}
a{color:#0C8A9A;text-decoration:none;}
a:hover{text-decoration:underline;}

.portrait {width: 150px;margin: 0 0 10px 20px ;border: 1px solid #F26722;}

.container{width:728px;margin:0px auto;}

.header{font-size:18px;font-family:Georgia, Arial;color:#666;text-align:right;padding-top:50px;}
.header strong{color:#000;}

h2.icon{line-height:26px;padding-left:40px;}
h2.icon-small{line-height:20px;padding-left:25px;}
h2.watch{background:url(/images/welcome_program/watch_icon.png) no-repeat 0 0;}
h2.logo{background:url(/images/welcome_program/babyfolio-email-logo.png) no-repeat 0 0;line-height:40px;padding-left:45px;}
h2.play{background:url(/images/welcome_program/play_icon.png) no-repeat 0 0;line-height:35px;padding-left:46px;}
h2.reflect{background:url(/images/welcome_program/reflect_icon.png) no-repeat 0 0;line-height:31px;}
h2.icon_l{background:url(/images/welcome_program/icon_teal_L.png) no-repeat 0 0;}
h2.icon_v{background:url(/images/welcome_program/icon_teal_V.png) no-repeat 0 0;}
h2.icon_e{background:url(/images/welcome_program/icon_teal_E.png) no-repeat 0 0;}
h2.icon_m{background:url(/images/welcome_program/icon_teal_M.png) no-repeat 0 0;}
h2.icon_s{background:url(/images/welcome_program/icon_teal_S.png) no-repeat 0 0;}
h2.icon_n{background:url(/images/welcome_program/icon_teal_N.png) no-repeat 0 0;padding-left:35px;}

.content{padding-bottom:30px;}
.content h1{color:#1FA9BB;font-size:28px;}
.content h2{color:#F26722;font-size:18px;}
.content p{}
.content ul{margin:5px;}
.content ol{margin:5px;padding-left:20px;}
.content ol.with-spacing li{margin-bottom:20px;}

.content .blue{color:#1FA9BB;}
.content .center{text-align:center;}
.content .percent-80{width:80%;}
.content .percent-80.center{margin-left:auto;margin-right:auto;}

.content p.no-spacing{margin-bottom:0px;}
.content p.signature{font-weight:700;}
.content .blue-box{background-color:#E3F4FC;padding:20px 30px;}

.three-cols{width:100%;}

.reflect-table{width:100%;}
.reflect-table td{width:50%;}
.reflect-table .text{background-color:#E3F4FC;padding:20px 30px;}

.steps-table{}
.steps-table .col-1{width:20%;vertical-align:top;padding:20px 30px;font-size:18px;}
.steps-table .col-2{width:80%;vertical-align:top;background-color:#E3F4FC;padding:20px 30px;}
.steps-table .tr{margin:5px;}

.footer{font-size:12px;}

.image_ref {font-size: 9px;}
.centeredImage{text-align:center;display:block;margin: auto auto 20px auto;}