<div class="preloader"></div>
<h2>Flickr</h2>
<% if current_user.flickr_user %>  
  <div class="flickr">

    <div id="flickr-ajax-grid"  class="flickr-grid">

	  <%= render :partial => 'flickr/sets_grid' %>

    </div>
    

  </div>

<% else %>

  <%= flash[:flickr_error] %>  

  <%= render :partial => 'shared/services_connect', :locals => {:service => 'flickr'} %>

<% end %>
