<div class="preloader">
</div>

<% if current_user.flickr_user %>

  <div class="flickr">

    <span id="selected-flickr-photos">
      <h2>Selected</h2>
    </span>

    <span id="flickr-ajax-grid"  class="flickr-grid">

	  <%= render :partial => 'flickr/sets_grid' %>

    </span>

    <div class="clear"></div>

  </div>

<% else %>

  <%= flash[:flickr_error] %>  

  <%= render :partial => 'shared/services_connect', :locals => {:service => 'flickr'} %>

<% end %>
